APP_MODE=development

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

OIDC_BASE_URL=
OIDC_PROVIDER_PATH=
OIDC_PROVIDER_CLIENT=
OIDC_PROVIDER_SECRET=
OIDC_PROVIDER_CALLBACK=
OIDC_JWKS_PATH=

COOKIE_SECRET=change-me-in-production
REDIS_HOST=localhost
REDIS_PORT=6379